@charset "UTF-8";

@font-face {
  font-family: "IBMPlexMono";
  font-display: swap;
  src: url("../fonts/IBMPlexMono-Medium.woff2") format("woff2"), url("../fonts/IBMPlexMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2"), url("../fonts/IBMPlexSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  font-display: swap;
  src: url("../fonts/NeueMachina-Regular.woff2") format("woff2"), url("../fonts/NeueMachina-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "IBMPlexSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "IBMPlexSans";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  cursor: url("../img/icons/cursors/default.svg"), auto;
  color: #000;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

.form__error {
  color: #ff007f;
  font-size: 14px;
  position: absolute;
  bottom: 13px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  text-align: center;
  color: #fff;
}

input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, textarea::-moz-placeholder {
  text-align: center;
  color: #fff;
}

input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  text-align: center;
  color: #fff;
}

input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=tel]::-ms-input-placeholder, textarea::-ms-input-placeholder {
  text-align: center;
  color: #fff;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
textarea::placeholder {
  text-align: center;
  color: #fff;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

.input._error {
  border-bottom: 1px solid #ff007f;
  caret-color: #ff007f;
}

textarea.input {
  min-height: 80px;
  height: auto;
  overflow: auto;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.careers-page {
  background-color: #000;
  color: #fff;
  padding-bottom: 120px;
}

.careers-page__container {
  position: relative;
}

.careers-page__section_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.careers-page__section_expertise {
  margin-bottom: 105px;
}

.intro__body {
  position: relative;
  z-index: 2;
  padding-top: 268px;
  padding-bottom: 180px;
}

.intro__title {
  margin-bottom: 45px;
}

.intro__bg {
  position: absolute;
  z-index: 1;
  right: -70px;
  top: -45px;
}

.bg-intro {
  max-width: 588px;
  width: 100%;
}

.bg-intro__inner {
  position: relative;
}

.bg-intro__hexagon {
  max-width: 588px;
  position: relative;
  right: 0;
  top: 0;
  padding-bottom: 115.5%;
}

.bg-intro__hexagon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: hexRotation 60s infinite linear;
          animation: hexRotation 60s infinite linear;
}

.bg-intro__line {
  -webkit-animation: lineRotation 50s infinite linear;
          animation: lineRotation 50s infinite linear;
  max-width: 100%;
  max-height: 100%;
}

.bg-intro__line_1 {
  position: absolute;
  left: 0;
  top: 6.305%;
}

.bg-intro__line_2 {
  position: absolute;
  right: 0;
  top: -8.25%;
}

.bg-intro__line_3 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.bg-intro__line_4 {
  position: absolute;
  top: 0;
  right: 0;
}

@-webkit-keyframes hexRotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes hexRotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes lineRotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes lineRotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.expertise {
  width: 100%;
  margin-bottom: 80px;
}

.expertise__body {
  width: 100%;
}

.expertise__title {
  margin-bottom: 50px;
}

.expertise__subtitle {
  font-size: 36px;
  line-height: calc(48 / 36 * 100%);
  margin-bottom: 80px;
}

.about-company {
  margin-bottom: 50px;
}

.about-company__paragraph {
  font-size: 36px;
  line-height: calc(46 / 36 * 100%);
  margin-bottom: 50px;
}

.vacancies {
  margin-bottom: 100px;
}

.vacancies__title {
  margin-bottom: 60px;
}

.vacancies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px;
}

.vacancies__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 30px;
}

.vacancies__item {
  width: 100%;
  color: #fff;
  font-size: 28px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  border-bottom: 1px solid #fff;
  padding: 20px;
}

.vacancies__item::before {
  content: "";
  display: inline-block;
  max-width: 100%;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background: url("../img/icons/linkWhite.svg") center no-repeat;
  background-size: contain;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.vacancies__item:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff007f), color-stop(49.94%, #6d1df0), to(#0ed5fa));
  background: -o-linear-gradient(left, #ff007f 0%, #6d1df0 49.94%, #0ed5fa 100%);
  background: linear-gradient(90deg, #ff007f 0%, #6d1df0 49.94%, #0ed5fa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vacancies__item:hover::before {
  background: url("../img/icons/linkHover.svg") center no-repeat;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.showmore {
  margin-top: 60px;
}

.showmore__button {
  color: #fff;
  font-size: 28px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  cursor: url("../img/icons/cursors/handPointing.svg"), auto;
}

.showmore__button::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 32px 0 20px;
  background: url("../img/icons/plusWhite.svg") center no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.showmore__button:hover::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contact {
  padding-top: 120px;
}

.contact__bottom {
  max-width: 600px;
}

.hr-manager {
  margin-bottom: 40px;
}

.hr-manager__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hr-manager__info {
  position: relative;
  z-index: 1;
  margin-right: 60px;
}

.hr-manager__text {
  font-size: 28px;
  line-height: calc(36 / 28 * 100%);
  margin-bottom: 50px;
}

.hr-manager__mail {
  font-family: "NeueMachina", sans-serif;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-size: 96px;
}

.hr-manager__mail::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  bottom: -5px;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ff007f), color-stop(49.94%, #6d1df0), to(#0ed5fa));
  background: -o-linear-gradient(left, #ff007f 0%, #6d1df0 49.94%, #0ed5fa 100%);
  background: linear-gradient(90deg, #ff007f 0%, #6d1df0 49.94%, #0ed5fa 100%);
  -webkit-transition: width 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s;
  transition: width 0.6s ease 0s;
}

.hr-manager__mail:hover::before {
  width: 100%;
}

.hr-manager__photo {
  position: relative;
  width: 100%;
}

.hr-manager__photo::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1230px;
  top: -50%;
  left: 50%;
  background: #0ed5fa;
  opacity: 0.6;
}

.hr-manager__image {
  padding: 0px 0px 50% 0px;
  position: relative;
  z-index: 3;
}

.hr-manager__image img {
  width: 360px;
  height: 415px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -o-object-fit: cover;
     object-fit: cover;
}

.hr-manager__smallhex-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -65%);
      -ms-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
}

.hr-manager__bighex-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
      -ms-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.hr-manager__smallhex {
  -webkit-animation: smallhexPulsation 2s infinite linear alternate;
          animation: smallhexPulsation 2s infinite linear alternate;
}

.hr-manager__bighex {
  -webkit-animation: bighexRotation 60s infinite linear;
          animation: bighexRotation 60s infinite linear;
}

@-webkit-keyframes bighexRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes bighexRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes smallhexPulsation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes smallhexPulsation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.form-contact {
  padding: 10px 0;
}

.form-contact__title {
  font-size: 28px;
  line-height: calc(36 / 28 * 100%);
  margin: 0px 0px 40px 0px;
}

.form__body {
  margin-bottom: 40px;
}

.form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 31px;
  margin-bottom: 24px;
  font-size: 20px;
  position: relative;
}

.form__line_textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__line-container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form__label {
  white-space: nowrap;
  font-size: 20px;
  line-height: calc(26 / 20 * 100%);
  margin-right: 24px;
}

.form__label_textarea {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 24px;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 5px 20px;
}

.form__input_textarea {
  padding: 0 20px;
  line-height: normal;
  resize: vertical;
  max-height: 300px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.form__input_textarea::-webkit-input-placeholder {
  text-decoration: none;
  -webkit-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
}

.form__input_textarea::-moz-placeholder {
  text-decoration: none;
  transform: translate(0px, 20px);
}

.form__input_textarea:-ms-input-placeholder {
  text-decoration: none;
  -ms-transform: translate(0px, 20px);
      transform: translate(0px, 20px);
}

.form__input_textarea::-ms-input-placeholder {
  text-decoration: none;
  -ms-transform: translate(0px, 20px);
      transform: translate(0px, 20px);
}

.form__input_textarea::placeholder {
  text-decoration: none;
  -webkit-transform: translate(0px, 20px);
      -ms-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
}

.form__input_textarea::-webkit-scrollbar {
  display: none;
}

.form__maxsize {
  margin-left: auto;
}

.form__mark {
  margin-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
}

.form__button {
  max-width: 250px;
}

.input {
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #1d4bef;
  caret-color: #1d4bef;
}

.input__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.file {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 15px;
}

.file:hover .file__label {
  color: #1d4bef;
}

.file:hover .file__image svg path {
  stroke: #1d4bef;
}

.file._error .file__label {
  color: #ff007f;
}

.file._error .file__label svg path {
  stroke: #fff;
}

.file__input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0;
  opacity: 0;
  cursor: pointer;
  cursor: url("../img/icons/cursors/handPointing.svg"), auto;
}

.file__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: url("../img/icons/cursors/handPointing.svg"), auto;
}

.file__label_overflow {
  font-size: 14px;
  color: #ff007f;
}

.file__image {
  margin-right: 10px;
}

.file__image svg path {
  stroke: #fff;
  -webkit-transition: stroke 0.3s ease 0s;
  -o-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
}

.file__text {
  width: 100%;
  max-width: 250px;
  overflow: hidden;
}

.file__paperclip {
  display: none;
}

.file__loading {
  display: none;
}

.file__loading_inprocess {
  display: block;
  -webkit-animation: loadingRotation 1s infinite linear;
          animation: loadingRotation 1s infinite linear;
}

@-webkit-keyframes loadingRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes loadingRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

.intro-about {
  margin-bottom: 100px;
}

.intro-about__body {
  padding-top: 288px;
  padding-bottom: 180px;
}

.intro-about__title {
  margin-bottom: 60px;
}

.slogan {
  margin-bottom: 100px;
}

.slogan__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slogan__title {
  color: #fff;
  opacity: 0.7;
  text-shadow: 1px 1px 55px #6d1df0, 1px 1px 55px #0ed5fa;
  margin-left: -9%px;
}

.slogan__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(780 / 1440 * 100%);
          flex: 0 0 calc(780 / 1440 * 100%);
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  background-color: transparent;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 168px;
  padding-top: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo {
  position: relative;
  z-index: 15;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.header__logo img {
  opacity: 1;
  visibility: visible;
}

.header._scroll {
  background: rgba(0, 0, 0, 0.699);
}

.header._scroll .logo__text {
  display: none;
}

.header._scroll .logo__text img {
  opacity: 0;
  visibility: hidden;
}

.header._scroll .header__content {
  min-height: 40px;
  padding-top: 15px;
}

.logo__image {
  margin-bottom: 15px;
}

.logo__text {
  display: none;
}

.menu__list li {
  margin-left: 20px;
}

.menu__link {
  margin-left: 30px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-weight: 800;
  color: #fff;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#1d4bef), color-stop(50%, #1d4bef), color-stop(50%, white));
  background: -o-linear-gradient(left, #1d4bef, #1d4bef 50%, white 50%);
  background: linear-gradient(to right, #1d4bef, #1d4bef 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: background-position 275ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: background-position 275ms cubic-bezier(0.42, 0, 0.58, 1);
}

.menu__link:hover {
  background-position: 0 100%;
}

.icon-menu {
  display: none;
}

.footer {
  width: 100%;
  background-color: #1d4bef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 68px;
  padding-bottom: 74px;
}

.footer * a {
  color: #fff;
}

.footer * li > a {
  position: relative;
}

.footer * li > a::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #fff;
  -webkit-transition: width 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s;
  transition: width 0.6s ease 0s;
}

.footer * li > a:hover::before {
  width: 100%;
}

.footer__container {
  width: 100%;
}

.top-footer {
  margin-bottom: 32px;
}

.top-footer__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-footer__pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-footer__pages-list li {
  margin-right: 32px;
}

.top-footer__page-link {
  text-transform: uppercase;
  font-size: 24px;
}

.footer-social__link img {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer-social__link:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.bottom-footer__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__policy li {
  margin-right: 24px;
}

.bottom-footer__mail {
  position: relative;
}

.bottom-footer__mail::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  opacity: 0;
  height: 1px;
  bottom: -5px;
  left: 0;
  background: #fff;
  -webkit-transition: width 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s;
  transition: width 0.6s ease 0s;
}

.bottom-footer__mail:hover::before {
  width: 100%;
  opacity: 1;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-family: "NeueMachina", serif;
  font-size: 64px;
  line-height: calc(83 / 64 * 100%);
}

.main-title {
  font-size: 96px;
  font-family: "NeueMachina", sans-serif;
  text-transform: uppercase;
}

.text {
  font-size: 36px;
  line-height: calc(46.8 / 36 * 100%);
}

.gragient-text {
  background: -webkit-gradient(linear, left top, right top, from(#ff007f), color-stop(49.94%, #6d1df0), to(#0ed5fa));
  background: -o-linear-gradient(left, #ff007f 0%, #6d1df0 49.94%, #0ed5fa 100%);
  background: linear-gradient(90deg, #ff007f 0%, #6d1df0 49.94%, #0ed5fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hexImage {
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.list-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-items__body li {
  margin-bottom: 20px;
  position: relative;
  padding-left: 120px;
  font-size: 28px;
  line-height: calc(48 / 36 * 100%);
}

.list-items__body li::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1d4bef;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(55%);
      -ms-transform: translateY(55%);
          transform: translateY(55%);
}

.button {
  text-transform: uppercase;
  position: relative;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ff007f), color-stop(49.94%, #6d1df0), to(#0ed5fa));
  background: -o-linear-gradient(left, #ff007f 0%, #6d1df0 49.94%, #0ed5fa 100%);
  background: linear-gradient(90deg, #ff007f 0%, #6d1df0 49.94%, #0ed5fa 100%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button::before {
  top: 0;
}

.button::after {
  bottom: 0;
}

.animated-button:focus {
  outline: none;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.button-wrapper::before,
.button-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-wrapper::before {
  background: #ff007f;
  left: 0;
}

.button-wrapper::after {
  background: #0ed5fa;
  right: 0px;
}

.animated-button {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

.animated-button:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: "";
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#ff007f), color-stop(49.94%, #6d1df0), to(#0ed5fa));
  background: -o-linear-gradient(left, #ff007f 0%, #6d1df0 49.94%, #0ed5fa 100%);
  background: linear-gradient(90deg, #ff007f 0%, #6d1df0 49.94%, #0ed5fa 100%);
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.animated-button::after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

.animated-button:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

.animated-button:hover::after {
  height: 450%;
}

.animated-button:hover {
  color: #fff;
  background-color: transparent;
}

/* ==================================================== */

@media (min-width: 480px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }
}

@media (min-width: 768px) {
  body * a,
  body button,
  body label {
    cursor: pointer;
    cursor: url("../img/icons/cursors/handPointing.svg"), auto;
  }

  .input {
    cursor: text;
    cursor: url("../img/icons/cursors/text.svg"), auto;
  }

  .logo__text {
    display: block;
  }
}

@media (max-width: 1212px) {
  ._container {
    max-width: 970px;
  }

  .contact__bottom {
    margin: 0 auto;
  }

  .hr-manager__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hr-manager__photo::before {
    top: -25%;
    height: 950px;
  }

  .hr-manager__bighex {
    width: 570px;
    height: 690px;
  }

  .main-title {
    font-size: 86px;
  }
}

@media (max-width: 1200px) {
  .careers-page__section_expertise {
    margin-bottom: calc(40px + 65 * ((100vw - 320px) / 880));
  }

  .intro__body {
    padding-top: calc(88px + 180 * ((100vw - 320px) / 880));
  }

  .intro__body {
    padding-bottom: calc(40px + 140 * ((100vw - 320px) / 880));
  }

  .expertise {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .expertise__subtitle {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .hr-manager__info {
    margin-right: calc(20px + 40 * ((100vw - 320px) / 880));
  }

  .hr-manager__mail {
    font-size: calc(68px + 28 * ((100vw - 320px) / 880));
  }

  .intro-about {
    margin-bottom: calc(40px + 60 * ((100vw - 320px) / 880));
  }

  .intro-about__body {
    padding-top: calc(88px + 200 * ((100vw - 320px) / 880));
  }

  .intro-about__body {
    padding-bottom: calc(40px + 140 * ((100vw - 320px) / 880));
  }

  .intro-about__title {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 880));
  }

  .slogan {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .slogan__title {
    margin-left: calc(-3%px + -6% * ((100vw - 320px) / 880));
  }

  .menu__link {
    margin-left: calc(15px + 15 * ((100vw - 320px) / 880));
  }

  .footer {
    padding-top: calc(50px + 18 * ((100vw - 320px) / 880));
  }

  .footer {
    padding-bottom: calc(50px + 24 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: 780px;
  }

  .vacancies__list {
    margin: 0 -10px;
  }

  .vacancies__list li {
    padding: 0 10px;
  }

  .vacancies__item {
    font-size: 26px;
  }

  .hr-manager__photo::before {
    height: 948px;
  }

  .main-title {
    font-size: 76px;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: 560px;
    padding: 0 15px;
  }

  input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 14px;
  }

  input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 14px;
  }

  input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 14px;
  }

  input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=tel]::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 14px;
  }

  input[type=text]::placeholder,
  input[type=email]::placeholder,
  input[type=tel]::placeholder,
  textarea::placeholder {
    font-size: 14px;
  }

  .expertise__subtitle {
    font-size: 28px;
    line-height: calc(36 / 28 * 100%);
  }

  .about-company__paragraph {
    font-size: 28px;
    line-height: calc(36 / 28 * 100%);
  }

  .vacancies {
    margin-bottom: 80px;
  }

  .vacancies__title {
    margin-bottom: 40px;
  }

  .vacancies__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .vacancies__item {
    font-size: 24px;
  }

  .showmore__button {
    margin-top: 40px;
    font-size: 24px;
  }

  .showmore__button::before {
    width: 24px;
    height: 24px;
    margin: 0 20px;
  }

  .hr-manager__info {
    margin-right: 0;
    margin-top: -70px;
  }

  .hr-manager__text {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .hr-manager__mail {
    font-size: 68px;
    line-height: 1;
  }

  .hr-manager__photo {
    margin-bottom: 64px;
  }

  .hr-manager__photo::before {
    height: 768px;
  }

  .hr-manager__image img {
    width: 276px;
    height: 319px;
  }

  .hr-manager__smallhex {
    width: 350px;
    height: 450px;
  }

  .hr-manager__bighex {
    width: 500px;
    height: 570px;
  }

  .form__line {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__label {
    font-size: 16px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .form__maxsize {
    font-size: 14px;
    position: absolute;
    top: 5px;
    right: 0;
  }

  .file {
    margin-top: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .slogan__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slogan__title {
    margin-bottom: 25px;
  }

  .header__content {
    min-height: 96px;
    padding-top: 15px;
  }

  .top-footer {
    margin-bottom: 40px;
  }

  .top-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .top-footer__social {
    margin-bottom: 36px;
  }

  .bottom-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .bottom-footer__mail {
    margin-bottom: 88px;
  }

  .title {
    font-size: 48px;
    line-height: calc(64 / 48 * 100%);
  }

  .main-title {
    font-size: 68px;
  }

  .text {
    font-size: 28px;
  }

  .list-items__body li {
    padding-left: 50px;
    font-size: 24px;
    line-height: calc(31 / 24 * 100%);
  }
}

@media (max-width: 600px) {
  .hr-manager__mail {
    font-size: 32px;
    padding-bottom: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 600px) and (max-width: 1200px) {
  .hr-manager__mail {
    padding-bottom: calc(40px + 20 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 540px) {
  .top-footer {
    margin-bottom: 32px;
  }

  .top-footer__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .top-footer__pages-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .top-footer__pages-list li {
    margin-right: 0;
    margin-bottom: 28px;
  }

  .bottom-footer__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-footer__policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .bottom-footer__policy li {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .bottom-footer__policy li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 530px) {
  .hr-manager__photo::before {
    height: 715px;
  }

  .hr-manager__bighex {
    width: 440px;
    height: 495px;
  }
}

@media (max-width: 480px) {
  .expertise__subtitle {
    font-size: 18px;
    line-height: calc(23 / 18 * 100%);
  }

  .about-company__paragraph {
    font-size: 18px;
    line-height: calc(23 / 18 * 100%);
  }

  .vacancies {
    margin-bottom: 40px;
  }

  .vacancies__title {
    margin-bottom: 24px;
  }

  .vacancies__item {
    font-size: 20px;
  }

  .vacancies__item::before {
    width: 24px;
    height: 24px;
  }

  .showmore__button {
    margin-top: 24px;
    min-height: 24px;
    font-size: 20px;
    text-align: left;
  }

  .hr-manager__info {
    margin-top: -50px;
  }

  .hr-manager__text {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .hr-manager__photo {
    margin-bottom: 0px;
  }

  .hr-manager__photo::before {
    top: -45%;
    height: 475px;
  }

  .hr-manager__image img {
    width: 140px;
    height: 163px;
  }

  .hr-manager__smallhex {
    width: 200px;
    height: 235px;
  }

  .hr-manager__bighex {
    width: 288px;
    height: 345px;
  }

  .file__label {
    font-size: 14px;
  }

  .header__content {
    min-height: 48px;
    padding-top: 10px;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000;
    padding: 100px 30px 30px 10px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: transparent;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list li {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 20px;
    height: 24px;
    z-index: 15;
  }

  .icon-menu span {
    background-color: #fff;
  }

  .icon-menu span:first-child,
  .icon-menu span:last-child {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 1px;
  }

  .icon-menu span:first-child {
    top: 7px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 7px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 0.5px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 0.5px);
  }

  .bottom-footer__mail {
    text-align: center;
    margin-bottom: 32px;
  }

  .title {
    font-size: 30px;
    line-height: calc(39 / 30 * 100%);
  }

  .main-title {
    font-size: 36px;
  }

  .text {
    font-size: 18px;
  }

  .list-items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .list-items__body li {
    font-size: 20px;
    line-height: calc(26 / 20 * 100%);
  }
}